body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}
.heading{
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px brown;
}
.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}
